data/hash/*
data/dict/*
data/preimages/*
data/tmphash/*
/3XORv2.sublime-workspace
/mining/server.out
built_0MQ_lib
opkg
/preprocessing/dict_checker
/preprocessing/dict_checker.c
/preprocessing/dict_checker.log
/preprocessing/dict_checker.o
/preprocessing/dict_checker.out
/preprocessing/dict_checker.pdf
/preprocessing/hash_checker
/preprocessing/hash_checker.log
/preprocessing/hash_checker.out
/preprocessing/hash_checker.pdf
/preprocessing/hash_checker.tex
/preprocessing/hasher.o
/preprocessing/indexer
/preprocessing/indexer.log
/preprocessing/indexer.out
/preprocessing/indexer.pdf
/preprocessing/indexer.tex
/preprocessing/merger
/preprocessing/merger.log
/preprocessing/merger.out
/preprocessing/merger.pdf
/preprocessing/sha256.o
/preprocessing/sorter
/preprocessing/sorter.c
/preprocessing/sorter.log
/preprocessing/sorter.o
/preprocessing/sorter.out
/preprocessing/sorter.pdf
/preprocessing/splitter
/preprocessing/splitter.c
/preprocessing/splitter.log
/preprocessing/splitter.o
/preprocessing/splitter.out
/preprocessing/splitter.pdf
/preprocessing/index_checker.log
/preprocessing/index_checker.out
/preprocessing/index_checker.pdf
/preprocessing/index_checker.tex
/preprocessing/merger.tex
/solving/task_server.log
/solving/task_server.pdf
/solving/task_server.tex
/preprocessing/badbar.hash
/preprocessing/badbar.hash.index
/preprocessing/badfoo.hash
/preprocessing/badfoo.hash.index
/preprocessing/badfoobar.hash
/preprocessing/badfoobar.hash.index
/preprocessing/forger
/preprocessing/forger.c
/preprocessing/forger.log
/preprocessing/forger.o
/preprocessing/forger.out
/preprocessing/forger.pdf
/preprocessing/forger.tex
/preprocessing/index_checker
/preprocessing/index_checker.c
/solving/quad_standalone
/solving/quad_standalone.tex
/solving/quadratic.nw~
/solving/quadratic.tex
/solving/common.tex
/solving/common.c
/solving/common.h
/solving/common.log
/solving/common.o
/solving/common.out
/solving/common.pdf
/solving/datastructures.c
/solving/datastructures.h
/solving/datastructures.o
/solving/datastructures.tex
/solving/datastuctures.c
/solving/quad_standalone.c
/solving/quad_standalone.log
/solving/quad_standalone.o
/solving/quad_standalone.out
/solving/quad_standalone.pdf
/solving/quadratic.c
/solving/quadratic.log
/solving/quadratic.o
/solving/quadratic.out
/solving/quadratic.pdf
/solving/datastructures.log
/solving/datastructures.out
/solving/datastructures.pdf
/solving/journal.log
/solving/sample_task_client
/solving/sample_task_client.c
/solving/sample_task_client.log
/solving/sample_task_client.o
/solving/sample_task_client.out
/solving/sample_task_client.pdf
/solving/sample_task_client.tex
/solving/server.h
/solving/task_server
/solving/task_server.aux
/solving/task_server.c
/solving/task_server.out
/preprocessing/doc.pdf
/preprocessing/hasher.c
/preprocessing/hasher.log
/preprocessing/hasher.out
/preprocessing/hasher.pdf
/preprocessing/hasher.tex
/preprocessing/preprocessing.h
/preprocessing/preprocessing.log
/preprocessing/preprocessing.o
/preprocessing/preprocessing.out
/preprocessing/preprocessing.pdf
/preprocessing/preprocessing.tex
/preprocessing/types.h
/solving/doc.pdf
/solving/peek
/solving/peek.c
/solving/peek.log
/solving/peek.o
/solving/peek.out
/solving/peek.pdf
/solving/peek.tex
/solving/quad_client
/solving/quad_client.log
/solving/quad_client.o
/solving/quad_client.out
/solving/quad_client.pdf
/solving/quad_client.tex
/solving/server
/solving/server.c
/solving/server.log
/solving/server.o
/preprocessing/hasher.h
/preprocessing/splitter.tex
/solving/server.out
/solving/server.pdf
/solving/server.tex
/postprocessing/showdown
/postprocessing/showdown.log
/postprocessing/showdown.o
/postprocessing/showdown.out
/postprocessing/showdown.pdf
/postprocessing/showdown.tex
/preprocessing/dict_checker.tex
/preprocessing/sorter.tex
/types.h
/data/solutions/journal.log
/data/testhash/bar.0
/data/testhash/bar.000
/data/testhash/foo.0
/data/testhash/foo.000
/data/testhash/foobar.0
/data/testhash/foobar.000
/ijoux/common.h
/ijoux/common.log
/ijoux/common.o
/ijoux/common.out
/ijoux/common.pdf
/ijoux/common.tex
/ijoux/doc.pdf
/ijoux/joux.log
/ijoux/joux.o
/ijoux/joux.out
/ijoux/joux.pdf
/ijoux/joux.tex
/ijoux/joux_standalone
/ijoux/joux_standalone.log
/ijoux/joux_standalone.out
/ijoux/joux_standalone.pdf
/ijoux/joux_standalone.tex
/ijoux/linalg.h
/ijoux/linalg.log
/ijoux/linalg.o
/ijoux/linalg.out
/ijoux/linalg.pdf
/ijoux/linalg.tex
/quadratic/common.h
/quadratic/common.log
/quadratic/common.o
/quadratic/common.out
/quadratic/common.pdf
/quadratic/common.tex
/quadratic/datastructures.h
/quadratic/datastructures.log
/quadratic/datastructures.o
/quadratic/datastructures.out
/quadratic/datastructures.pdf
/quadratic/datastructures.tex
/quadratic/doc.pdf
/quadratic/join.aux
/quadratic/join.idx
/quadratic/join.log
/quadratic/join.pdf
/quadratic/join.scn
/quadratic/join.tex
/quadratic/peek
/quadratic/peek.c
/quadratic/peek.log
/quadratic/peek.o
/quadratic/peek.out
/quadratic/peek.pdf
/quadratic/peek.tex
/quadratic/quad_client
/quadratic/quad_client.log
/quadratic/quad_client.o
/quadratic/quad_client.out
/quadratic/quad_client.pdf
/quadratic/quad_client.tex
/quadratic/quad_standalone
/quadratic/quad_standalone.c
/quadratic/quad_standalone.log
/quadratic/quad_standalone.o
/quadratic/quad_standalone.out
/quadratic/quad_standalone.pdf
/quadratic/quad_standalone.tex
/quadratic/quadratic.c
/quadratic/quadratic.log
/quadratic/quadratic.o
/quadratic/quadratic.out
/quadratic/quadratic.pdf
/quadratic/quadratic.tex
/quadratic/server
/quadratic/server.c
/quadratic/server.h
/quadratic/server.log
/quadratic/server.o
/quadratic/server.out
/quadratic/server.pdf
/quadratic/server.tex
/postprocessing/dump
/postprocessing/dump.log
/postprocessing/dump.o
/postprocessing/dump.out
/postprocessing/dump.pdf
/postprocessing/dump.tex
/postprocessing/dump.txt
/postprocessing/doc.pdf
/ijoux/joux_v0.log
/ijoux/joux_v0.out
/ijoux/joux_v0.pdf
/ijoux/joux_v0.tex
/ijoux/joux_v1.o
/ijoux/joux_v2.c~
/ijoux/joux_v2.log
/ijoux/joux_v2.o
/ijoux/joux_v2.out
/ijoux/joux_v2.pdf
/ijoux/joux_v2.tex
