data/hash/*
data/dict/*
data/preimages/*
data/tmphash/*
/3XORv2.sublime-workspace
/mining/server.out
built_0MQ_lib
opkg
/preprocessing/dict_checker
/preprocessing/dict_checker.c
/preprocessing/dict_checker.log
/preprocessing/dict_checker.o
/preprocessing/dict_checker.out
/preprocessing/dict_checker.pdf
/preprocessing/hash_checker
/preprocessing/hash_checker.log
/preprocessing/hash_checker.out
/preprocessing/hash_checker.pdf
/preprocessing/hash_checker.tex
/preprocessing/hasher.o
/preprocessing/indexer
/preprocessing/indexer.log
/preprocessing/indexer.out
/preprocessing/indexer.pdf
/preprocessing/indexer.tex
/preprocessing/merger
/preprocessing/merger.log
/preprocessing/merger.out
/preprocessing/merger.pdf
/preprocessing/sha256.o
/preprocessing/sorter
/preprocessing/sorter.c
/preprocessing/sorter.log
/preprocessing/sorter.o
/preprocessing/sorter.out
/preprocessing/sorter.pdf
/preprocessing/splitter
/preprocessing/splitter.c
/preprocessing/splitter.log
/preprocessing/splitter.o
/preprocessing/splitter.out
/preprocessing/splitter.pdf
/preprocessing/index_checker.log
/preprocessing/index_checker.out
/preprocessing/index_checker.pdf
/preprocessing/index_checker.tex
/preprocessing/merger.tex
